.App {
  padding-top: 10%;
  text-align: center;
}

html {
  background: none;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 2%;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.prueba {
  width: auto;
  height: 10%;
  padding-top: 5%;
}


.image{
  display: block;
  height: auto;
  width: 50%;
  padding-bottom: 0%;
  background-color: red;
}

.greaterImage{
  display: block;
  height: auto;
  padding-bottom: 0%;
  transform: translateX(30%);
  width: 30%;
}

@media screen and (max-width: 1000px) {
   .MoviesList {
    width: 100%;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
   }
}

.MoviesList-item {
  margin-bottom: 1px;
  width: 80%;
  
}