.App {
  padding-top: 10%;
  text-align: center;
}

html {
  background: none;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 2%;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.prueba {
  width: auto;
  transform: translateY(-20%)

}


.image{
  display: block;
  height: auto;
  width: 50%;
  padding-bottom: 0%;
  background-color: red;
}

.greaterImage{
  display: block;
  height: auto;
  padding-bottom: 0%;
  float: inline-flex;
  width: 35%;
}

.card-image {
  display: flex !important;
  justify-content: center;
}

@media screen and (max-width: 2000px) {
  .prueba {
    width: auto;
    height: 10%;
    padding-top: 5%;
  }
}


@media screen and (max-width: 1200px) {
   .MoviesList {
    width: 100%;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
   }

   .MoviesList-item{
    width: 40%
   }

   .prueba {
    width: auto;
    height: 10%;
    padding-top: 5%;
    transform: translateY(30%);
  }
  
}